<h1>Angular Services LAB and Homwork</h1>
<p>All the statements in the first part of the lab will build on the lab from the previous day. So if that lab
    is not complete go back and ensure that lab is complete first.</p>
<p>Routing Services Dependency Injection Observables Http</p>
<div>
    <h3>Routing</h3>
    <p>Add a routing component using the ng generate module command at the command prompt.
        Add a route for the new component that was created at the end of the last lab. Remove the tag for
        that component and put in the router-outlet tag in its place.
        At first, navigate manually to the new route to verify it works.
        Next, add an anchor tag ( a ) with the appropriate property to navigate to the new page.
        Repeat the above series of steps by:</p>
        <ul>
            <li>creating a new component</li>
            <li>modifying the html template to display something other than the default message.</li>
            <li>create a route for the new component.</li>
            <li>add a tag/link that goes to the page.</li>
        </ul>
</div>
